
<!-- <h1>#DriveIdeas2Creation in a sandbox</h1> -->
  
<script defer src="../js/sn0n.js"></script>
<script src="../js/pocketbase.umd.js"></script>
<script src="../js/aes256.min.js?ver=5.2"></script>
<script src="../js/wordlist.js?ver=5.2"></script>


<label>user:</label><input type='text' id='fname' name='fname'><br>
<div id="playground">

    <div id="generated" style="min-height: 3em; padding: .5em">
        
    </div>



</div>


<script>
// playing with pocketbase


</script>


<a class="topOfPage" href="#top" title="Go to the top of this page">^ TOP</a>
