<!-- ##### Footer ##### -->
<hr />

  <div class="right">
    <a href="../">http://sn0n.com/</a><br />


    <a href="../mailinglist/">mailing list</a> // <a href="../linktr.ee"><small>not</small> linktr.ee</a> <br />

    This website is <a href="http://copyfree.org/" target="_blank">Copyfree</a>, or was it unlicense(?), Idk, either way ....<br />
    This is Life. It's just a game, have fun. <br />
   Words, Pictures, Things &amp; Such 
   found here should be treated as nothing more than entertainment &amp; food for thought. <br />
   Your actions are your own. I am NOT responsible for any decisions made by you or anyone else.    
  
   <div style="text-align: right">Snahn ip (@sn0n)<br />  
   <a href="/contact/">Contact Info</a> <br />
    - Available for Consultation &amp; Freelance work  <a href="../playground/">-</a>  </div>
  </div>


<style>
  #move {
    position:relative;
    -webkit-animation: backandforth 42s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: backandforth 42s ease 0s;
    animation-iteration-count:infinite;
    width: 45px;
    padding:0ch;
    margin:0ch;
    height: 45px;
}

@-webkit-keyframes backandforth {0%{left:5ch;} 50%{left:45ch;} 100%{left:5ch;}}

@keyframes backandforth {0%{left:5ch;} 50%{left:45ch;} 100%{left:5ch;}}
</style>

<div
style="position: fixed; left: 50%; transform: translate(-50%, 0); text-align: center; bottom: 0px; width: 55ch; color: white; z-index: 1;">
<div id="move">
<img onclick="javascript:location.href='#'" src="../images/puffboy.webp" height="45px" width="45px" alt="puffboy">
</div>
<a href="https://blokz.io" target="_blank"><img src="../images/blokz_ad.webp" alt="blokz.io [ad]"/></a>
</div>
<!-- ^^^ Ad Block-->
