<title><%= site.title %> - <%= site.version %> </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- make description dynamic per page -->
<meta name="description" content="personal website of sn0n">
<link rel="stylesheet" href="../css/styles.css?ver=<%= site.version %>">

<link rel="icon" href="../images/favicon.png">

<!-- stats -->
<!-- playground stuff -->
